{
  "globals": {
    "assertPromiseThrows": false,
    "reminders": false,
    "archives": true,
    "fetch": false,
    "request": false,
    "assert": false,
    "fixtures": false,
    "migrations": false,
    "env": false
  }
}
