{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true,
    "serviceworker": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  },
  "rules": {
    "no-console": 0,
    "indent": [ "error", 2 ],
    "quotes": [ "error", "single" ],
    "semi": [ "error", "always" ],
    "no-trailing-spaces": "error",
    "eqeqeq": ["error", "always"],
    "space-before-function-paren": ["error", {
      "asyncArrow": "always",
      "named": "never"
    }],
    "no-multi-spaces": ["error", { "ignoreEOLComments": true }],
    "camelcase": "off",
    "object-property-newline": "off"
  },
  "globals": {
    "publicKey": false,
    "swPath": false
  }
}
