var/
node_modules/
static/webpack-bundles/

# cypress related debug files
cypress/screenshots
cypress/videos

# for now ignore fixtures folder created by cypress
# we don't need it for now.
cypress/fixtures

.DS_Store
*.log
