<div id="add-reminder-modal">
  <form>
    {{!-- TODO: Add support for close btn too. --}}
    {{!--<div class="close">&times;</div>--}}
    <h1>Add Reminder</h1>

    {{!-- Title input --}}
    <label for="reminder-title">Title:</label>
    <input id="reminder-title" type="text" placeholder="Reminder Title">

    <label for="reminder-textarea">Reminder:</label>
    <textarea id="reminder-textarea" placeholder="Enter reminder..."></textarea>

    <button type="submit">Add Reminder</button>
  </form>
</div>
