<div id="add-reminder-modal">
  <form>
    <h1>
      Add Reminder
      <span class="close-modal">&times;</span>
    </h1>

    <label for="reminder-title">Title:</label>
    <input id="reminder-title" type="text"
      name=title placeholder="Reminder Title" autofocus required>

    <label for="reminder-textarea">Reminder (Markdown Supported):</label>
    <textarea id="reminder-textarea" placeholder="Enter reminder..."
      name="reminder" required></textarea>

    <div class="dropdown-section">
      <div class="title simplepicker-button">Add due date or time</div>
      <div class="content">No Date Chosen!</div>
    </div>

    <button type="submit" class="button">Add Reminder</button>
  </form>
</div>
