<div id="add-reminder-modal">
  <form>
    {{!-- TODO: Add support for close btn too. --}}
    {{!--<div class="close">&times;</div>--}}
    <h1>Add Reminder</h1>

    <label for="reminder-title">Title:</label>
    <input id="reminder-title" type="text"
      name=title placeholder="Reminder Title" autofocus required>

    <label for="reminder-textarea">Reminder:</label>
    <textarea id="reminder-textarea" placeholder="Enter reminder..."
      name="reminder" required></textarea>

    <div class="dropdown-section">
      <div class="title">Add due date or time</div>
      <div class="content">
        <div class="quick-choose">
          Due in <input type="number" min="0" placeholder="n"> day or chosse precisely below.
        </div>

        <label for="reminder-due-date">Reminder Due Date:</label>
        <input type="date" name="due_date">

        <label for="reminder-due-time">Reminder Due Time:</label>
        <input type="time" name="due_time">
      </div>
    </div>

    <button type="submit">Add Reminder</button>
  </form>
</div>
