{{#unless archives}}
  <h4 class="no-archives">No archive(s) here!</h4>
  <div class="no-archives">
    Deleted archives will be added here, where afterwards
    you can discard archive reminders or restore them bacl.
  </div>
{{/unless}}
