<div id="ask-for-push">
  Would you like to enable push notification?

  {{!-- Be sure to update media queries if the text is change below. --}}
  <button class="enable-push">Yes, remind me of due reminder</button>
  <button class="close-modal">No, don't remind me (can be enabled later!)</button>
</div>
