<div id="ask-for-push">
  Would you like to enable push notification?

  {{!-- Be sure to update media queries if the text is change below. --}}
  <button class="enable-push">Yes, send me a notification when a reminder is due.</button>
  <button class="close-modal">No, don't send me push notifications. (can be enabled later!)</button>
</div>
