<div id="install-app-banner">
  Add reminder-app to home screen?

  {{!-- Be sure to update media queries if the text is change below. --}}
  <button class="install">Yes</button>
  <button class="close">Ask me later</button>
  <button class="do-not-ask">Don't ask again!</button>
</div>

