<div class="reminders">
  <div class="reminder" data-id="1" title="The title of the reminder!">
    <div class="title">The title of reminder!</div>
    <div class="content">The reminder content!</div>
    <div class="due-date">2/3/4 11:20:PM</div>
  </div>
</div>
