<div class="reminders">
  <div class="reminder" data-id="1" title="The title of the reminder!">
    <div class="title">The first reminder</div>
    <div class="content">
      The first reminder, need to make this reminder
      app more better, greater, clearer, usable. And
      have great ascessibilty.
    </div>
    <div class="due-date">2/3/4 11:20:PM</div>
  </div>
</div>
