@import './common.scss';
@import './header.scss';
@import './status-bar.scss';
@import './context-menu.scss';
@import './reminders.scss';

header {
  background-color: #e1615f;
  color: #fff;
}

main {
  width: 100%;
  min-height: 86vh;
  background-color: $body-background-color;
}

.archive-info {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  color: #000;
  width: 100%;
  z-index: 2;

  div {
    display: inline-block;
    width: auto;
    padding: 15px 5px;
    background-color: #f1f1f1;
    font-size: 16px;
  }
}

.back-button {
  display: inline-block;
  padding: 7px;
  margin: 1px;
  margin-right: 6px;
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: #fff;
    border-color: #fff;
    color: black;
  }
}
