@import './vars.scss';

html, body {
  padding: 0;
  margin: 0;
  font-family: $fonts;
  font-size: $font-size;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  margin: 10px 5px;
  padding: 2px;
}

button, label {
  cursor: pointer;
  font-size: $font-size;
}

input, textarea {
  font-family: $fonts;
  font-size: $input-font-size;
}


%bold-solid-text {
  font-size: $big-font-size;
  font-style: oblique;
  font-weight: 800;
}
