@import './vars.scss';

html, body {
  padding: 0;
  margin: 0;
  font-family: $fonts;
  font-size: $font-size;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  margin: 10px 5px;
  padding: 2px;
}

button, label {
  cursor: pointer;
  font-size: $font-size;
}

input, textarea {
  font-family: $fonts;
  font-size: $input-font-size;
}

.solid-bold-text {
  font-size: $big-font-size;
  font-style: oblique;
  font-weight: 800;
}

.handle-text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.dropdown-section {
  padding: 8px 10px;

  .title {
    display: block;
    background-color: #e0e0e0;
    color: #000;
    cursor: pointer;
  }

  .title::before {
    content: '+ ';
    font-size: 16px;
    font-weight: 600;
  }

  .title, .content {
    padding: 10px 7px;
  }

  .content {
    display: none;
    background-color: #f1f1f1;
    color: #000;
  }

  .title.show + .content {
    display: block;
  }
}

.error {
  color: $error-red;
}

@mixin custom-scrollbar($size, $background-color) {
  ::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  ::-webkit-scrollbar-thumb {
    background: $background-color;
  }

  ::-webkit-scrollbar-track {
    background: mix($background-color, white, 20%);
  }
}

html, body {
  @include custom-scrollbar(7px, grey);
}
