@import './vars.scss';

html, body {
  padding: 0;
  margin: 0;
  font-family: $fonts;
  font-size: $font-size;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  margin: 10px 5px;
  padding: 2px;
}

button, label {
  cursor: pointer;
  font-size: $font-size;
}

input, textarea {
  font-family: $fonts;
  font-size: $input-font-size;
}

.solid-bold-text {
  font-size: $big-font-size;
  font-style: oblique;
  font-weight: 800;
}

.handle-text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.dropdown-section {
  padding: 8px 10px;

  .title {
    display: block;
    background-color: #e0e0e0;
    color: #000;
    cursor: pointer;
  }

  .title::before {
    content: '+ ';
    font-size: 16px;
    font-weight: 600;
  }

  .title, .content {
    padding: 10px 7px;
  }

  .content {
    display: none;
    background-color: #f1f1f1;
    color: #000;
  }

  .title.show + .content {
    display: block;
  }
}

.reminders {
  color: #eff1f3;
  width: 100%;
  height: 100%;
}

.reminder {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 8px;
  width: auto;
  height: auto;
  max-width: 320px;
  margin: 10px;

  * {
    font-family: $fonts;
    font-size: 14px;
    line-height: 2;
    padding: 0 6px;
    color: #0e0e0e;
    max-height: 145px;
  }

  .title {
    font-size: 16px;
    max-height: 30px;
    @extend .handle-text-overflow;
  }
}
