@import './vars.scss';

.menu-bar {
  position: relative;
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid transparent;

  &:hover {
    $hover-color: #E0E0E0;
    background-color: $hover-color;
    border: 1px solid $hover-color;
  }

  i {
    font-size: 24px;
  }
}

.menu-bar.show .menu-sidebar {
  display: inline-block;
}

.menu-sidebar {
  display: none;
  position: absolute;
  top: -6px;
  left: -6px;
  height: 100vh;
  width: 245px;
  margin: 0;
  background-color: #222d32;
  color: #E0E0E0;

  // normalize .solid-bold-text
  font-family: $fonts;
  font-size: 16px;
  font-weight: normal;
  font-style: initial;

  * {
    padding: 10px 15px;
  }

  *:not(.close):hover {
    background-color: lighten(#222d32, 20%);
    color: white;
  }

  .close {
    height: 35px;
    font-size: 25px;
    text-align: right;
    font-weight: 900;
    margin-bottom: 10px;
  }

  .close:hover {
    color: white;
  }
}
