@import './common.scss';

header {
  @extend .solid-bold-text;
  height: 54px;
  padding: 12px 14px;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4),
              0px 0px 2px 1px rgba(0, 0, 0, 0.3),
              0px 0px 2px 1px rgba(0, 0, 0, 0.2);
}

main {
  width: 100%;
  min-height: 100vh;
  background-color: $body-background-color;
  margin-top: 4px;
}

/* TODO: Add hover, focus stats styles */
#add-reminder-btn {
  $size: 45px;

  @extend .solid-bold-text;
  position: fixed;
  height: $size;
  width: $size;
  display: inline-block;
  color: #fff;
  background-color: $theme-color;
  border-radius: 50%;
  text-align: center;
  padding-top: 0.5px;
  font-family: Verdana;
  font-size: 23px;
  bottom: 16px;
  right: 16px;
  user-select: none;
  border: 4px solid $theme-color;
}

#add-reminder-btn:focus, #add-reminder-btn:hover {
  outline: none;
  background-color: #fff;
  color: $theme-color;
}

#add-reminder-btn:active {
  border-color: #156767;
  box-shadow: inset 0px 0px 14px 2px rgba(0, 0, 0, 0.4);
}

#add-reminder-modal.open { display: block; }
#add-reminder-modal {
  display: none;
  cursor: pointer;
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4c4c4c7d;
  z-index: 1;

  form {
    cursor: initial;
    color: #000;
    background-color: #fff;
    margin: 5% auto;
    width: 570px;
    height: auto;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 18px;
    overflow: auto;

    .dropdown-section {
      width: 82%;
    }
  }

  label, input, textarea, button {
    padding: 8px 10px;
  }

  label {
    display: block;
  }

  input, textarea {
    border: 2px solid #ccc;
    margin: 4px 9px;
  }

  input:focus, textarea:focus {
    outline: none;
    border-color: $theme-color;
  }

  input {
    height: 35px;
    width: 336px;
  }

  textarea {
    max-width: 512px !important;
    height: 150px;
    width: 417px;
  }

  button {
    display: block;
    height: 40px;
    color: #fff;
    background-color: $theme-color;
    border-radius: 5px;
    border: 2px solid $theme-color;
    margin: 4px 9px;
  }

  button:hover {
    background-color: #f1f1f1;
    color: $theme-color;
  }
}

.reminders {
  color: #eff1f3;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.reminder {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 8px;
  width: auto;
  height: auto;
  max-width: 320px;
  margin: 10px;
  position: relative;

  * {
    font-family: $fonts;
    font-size: 14px;
    line-height: 2;
    padding: 0 6px;
    color: #0e0e0e;
    max-height: 145px;
  }

  .title {
    font-size: 16px;
    max-height: 30px;
    margin-right: 20px;
    @extend .handle-text-overflow;
  }

  .delete-reminder {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 9px;
    margin-right: 2px;
    font-size: 20px;
    color: #b50107;
  }

  .content {
    display: inline-table;
    line-height: 1.5;
    margin: 3px 0;
    white-space: pre-line;
  }

  .due-date {
    content: "Due: ";
    @extend .error;
  }
}

h4.no-reminders {
  font-size: 25px;
  padding-top: 50px;
}

div.no-reminders {
  font-size: 16px;
  padding: 8px;
}

.no-reminders {
  color: #000;
  margin: 0 33%;
  width: 33%;
  height: auto;
  vertical-align: middle;
  text-align: center;
}

form .dropdown-section .quick-choose {
  margin-bottom: 10px;
  padding-left: 10px;

  input {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    margin: initial !important;
    width: 65px !important;
  }
}
