$reminder-width: 300px;

.reminders, .archives {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 200px;
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  overflow-wrap: break-word;
  word-break: break-word;
  table-layout:fixed;
  padding: 0 10px 10px 10px;
  color: #eff1f3;

  &.hide .due-date {
    display: none;
  }
}

// adjust the num of columns using @media
@media screen and (min-width: 500px) {
  .reminders, .archives {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 800px) {
  .reminders, .archives {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1100px) {
  .reminders, .archives {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1400px) {
  .reminders, .archives {
    grid-template-columns: repeat(5, 1fr);
  }
}

.reminder, .archive {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 8px;
  width: auto;
  height: auto;
  min-width: 200px;
  margin-top: 10px;
  position: relative;
  break-inside: avoid;

  * {
    font-family: $fonts;
    font-size: 14px;
    line-height: 2;
    padding: 0 6px;
    color: #0e0e0e;
  }

  .title, .edit-title {
    font-size: 16px;
    max-height: 30px;
    margin-right: 40px;
    @extend .handle-text-overflow;
  }

  .title.hide, .content.hide {
    display: none;
  }

  .content .edit-content {
    display: inline-table;
    line-height: 1.5;
    margin: 3px 0;
    white-space: pre-line;
  }

  .edit-content {
    width: 100%;
    resize: none;
    overflow: hidden; // we auto-resize the textarea using js
  }

  .edit {
    $margin-size: 4px;

    display: none;
    border: 1px solid #ccc;
    margin-top: $margin-size;
    margin-bottom: $margin-size;
  }

  .edit.error {
    border-color: $error-red;
  }

  .edit.show {
    display: block;
  }

  .edit:focus {
    outline: none;
    border-bottom: 2px solid $theme-color;
  }

  .edit.error:focus {
    border-color: $error-red;
  }

  .due-date {
    @extend .error;
  }

  &.deleted-by-sw {
    background-color: #b5010729;
  }
}

h4.no-reminders, h4.no-archives {
  font-size: 25px;
  padding-top: 50px;
}

div.no-reminders, div.no-archives {
  font-size: 16px;
  padding: 8px;
}

.no-reminders, .no-archives {
  color: #000;
  margin: 0 33%;
  width: 33%;
  height: auto;
  vertical-align: middle;
  text-align: center;
}

.edit-ui {
  display: none;
  position: relative;
  z-index: 2; // when edit ui is not hidden we need this to be on top
  padding: 0;

  .update-reminder:hover { color: #265d29; }
  .cancel-editing:hover { color: $error-red; }
  i { padding: 0 1px; }
  &.show { display: block; }

  .container {
    position: absolute;
    top: -35px;
    right: -7px;
  }
}

// we add 32px extra margin to the last reminder so
// the context menu does not cut off to next coloumn
// see: https://github.com/priyankp10/reminder-app/issues/22
.reminder:nth-last-child(1) {
  margin-bottom: 32px;
}
