.reminders, .archives {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 200px;
  grid-gap: 20px;
  grid-auto-rows: auto;
  overflow-wrap: break-word;
  word-break: break-word;
  table-layout: auto;
  padding: 0 10px 10px 10px;
  color: #eff1f3;

  &.hide .due-date {
    display: none;
  }
}

// adjust the num of columns using @media
@media screen and (min-width: 500px) {
  .reminders, .archives {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 800px) {
  .reminders, .archives {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1100px) {
  .reminders, .archives {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1400px) {
  .reminders, .archives {
    grid-template-columns: repeat(5, 1fr);
  }
}

.reminder, .archive {
  display: inline-table;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 8px;
  width: auto;
  height: auto;
  min-width: 200px;
  min-height: 75px;
  margin-top: 10px;
  position: relative;
  break-inside: avoid;

  * {
    font-family: $fonts;
    font-size: 14px;
    line-height: 2;
    padding: 0 6px;
    color: #0e0e0e;
  }

  .title, .edit-title {
    font-size: 16px;
    max-height: 30px;
    margin-right: 40px;
    @extend .handle-text-overflow;
  }

  .title.hide, .content.hide {
    display: none;
  }

  .content .edit-content {
    display: inline-table;
    line-height: 1.5;
    margin: 3px 0;
    white-space: pre-line;
  }

  .edit-content {
    width: 100%;
    resize: none;
    overflow: hidden; // we auto-resize the textarea using js
  }

  .edit {
    $margin-size: 4px;

    display: none;
    border: 1px solid #ccc;
    margin-top: $margin-size;
    margin-bottom: $margin-size;
  }

  .edit.error {
    border-color: $error-red;
  }

  .edit.show {
    display: block;
  }

  .edit:focus {
    outline: none;
    border-bottom: 2px solid $theme-color;
  }

  .edit.error:focus {
    border-color: $error-red;
  }

  .due-date {
    @extend .error;

    &.hide {
      display: none;
    }
  }

  .edit-due-date {
    border-color: #ccc;
  }

  .error-tooltip {
    display: none;
    border-radius: 4px;
    background-color: #555;
    color: #fff;
    width: 166px;
    text-align: center;
    position: absolute;
    bottom: -32px;
    max-width: 170px;
    text-align: center;

    &::after {
      content: " ";
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent;
      border-bottom-color: #555;
    }

    &.show {
      display: inline-block;
    }
  }

  &.deleted-by-sw {
    background-color: #b5010729;
  }
}

h4.no-reminders, h4.no-archives {
  font-size: 25px;
  padding-top: 50px;
}

div.no-reminders, div.no-archives {
  font-size: 16px;
  padding: 8px;
}

.no-reminders, .no-archives {
  color: #000;
  margin: 0 33%;
  width: 33%;
  height: auto;
  vertical-align: middle;
  text-align: center;
}

.edit-ui {
  display: none;
  position: relative;
  z-index: 2; // when edit ui is not hidden we need this to be on top
  padding: 0;

  .update-reminder {
    &:hover {
      color: #265d29;
    }

    &[disabled] {
      color: #ccc;
    }
  }

  .cancel-editing:hover { color: $error-red; }
  i { padding: 0 1px; }
  &.show { display: block; }

  .container {
    position: absolute;
    top: -35px;
    right: -7px;
  }
}
