@import './common.scss';
@import './reminders.scss';
@import './header.scss';
@import './menu.scss';
@import './context-menu.scss';

main {
  width: 100%;
  min-height: 100vh;
  background-color: $body-background-color;
  margin-top: 4px;
}

/* TODO: Add hover, focus stats styles */
#add-reminder-btn {
  $size: 45px;

  @extend .solid-bold-text;
  position: fixed;
  height: $size;
  width: $size;
  z-index: 4;
  display: inline-block;
  color: #fff;
  background-color: $theme-color;
  border-radius: 50%;
  text-align: center;
  padding-top: 0.5px;
  font-family: Verdana;
  font-size: 23px;
  bottom: 16px;
  right: 16px;
  user-select: none;
  border: 4px solid $theme-color;
}

#add-reminder-btn:focus,
#add-reminder-btn:hover {
  outline: none;
  background-color: #fff;
  color: $theme-color;
}

#add-reminder-btn:active {
  border-color: #156767;
  box-shadow: inset 0px 0px 14px 2px rgba(0, 0, 0, 0.4);
}

#add-reminder-modal.open {
  display: block;
}

#add-reminder-modal {
  display: none;
  cursor: pointer;
  z-index: 5;
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4c4c4c7d;

  form {
    cursor: initial;
    color: #000;
    background-color: #fff;
    margin: 5% auto;
    width: 570px !important;
    height: auto;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 18px;
    overflow: auto;

    .dropdown-section {
      width: 82%;
    }
  }

  label, input,
  textarea, button {
    padding: 8px 10px;
  }

  label {
    display: block;
  }

  input,
  textarea {
    border: 2px solid #ccc;
    margin: 4px 9px;
  }

  input:focus,
  textarea:focus {
    outline: none;
    border-color: $theme-color;
  }

  input {
    height: 35px;
    width: 336px;
  }

  textarea {
    max-width: 512px !important;
    height: 150px;
    width: 417px;
  }

  button {
    display: block;
    height: 40px;
    color: #fff;
    background-color: $theme-color;
    border-radius: 5px;
    border: 2px solid $theme-color;
    margin: 4px 9px;
  }

  button:hover {
    background-color: #f1f1f1;
    color: $theme-color;
  }
}

form .dropdown-section .quick-choose {
  margin-bottom: 10px;
  padding-left: 10px;

  input {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    margin: initial !important;
    width: 65px !important;
  }
}

#ask-for-push {
  top: 0;
  left: 0;
  z-index: 3;
  display: none;
  background-color: $theme-color;
  color: white;
  padding: 10px 10px 10px 30px;

  &.show {
    display: block;
  }

  $color: darken($theme-color, 7%);
  button {
    font-family: $fonts;
    font-size: 14px;
    background-color: $color;
    border: 1px solid $color;
    color: white;
    border-radius: 3px;
  }
}

@media screen and (max-width: 1060px) {
  #ask-for-push {
    button {
      display: block;
      margin-top: 4px;
    }

    button:nth-child(1) {
      margin-top: 9px;
    }
  }
}
