<html lang="en">
  <head>
    {{> head-content
      title='Reminder App - Archives'
    }}
    {{{ render_bundle 'archives-css' }}}
    {{{ render_bundle 'vendor' }}}
    <link rel="manifest" href="webapp-manifest.json">
  </head>
  <body>
    <header>
      <div class="menu-bar">
        <i class="fas fa-bars"></i>
        <div class="menu-sidebar">
          <div class="close">&times;</div>   
          <div data-menu="reminders">Reminders</div>
        </div>
      </div>

      Archives
    </header>
    <main>
      {{> archives }}
    </main>

    <div class="status-bar"></div>
    {{{ render_bundle 'archives' 'async defer' }}}
  </body>
<html>
