<html lang="en">
  <head>
    {{> head-content
      title='Reminder App - Archives'
    }}
    {{{ render_bundle 'archives-css' }}}
    {{{ render_bundle 'vendor' }}}
    <link rel="manifest" href="webapp-manifest.json">
  </head>
  <body>
    <header>
      <div class="back-button">
        <i class="fas fa-arrow-left"></i>
      </div>
      Archives
    </header>
    <main>
      {{> archives }}
      <div class="archive-info">Note: Archive's are deleted automatically after 30 days.</div>
    </main>

    <div class="status-bar"></div>
    {{{ render_bundle 'archives' 'async defer' }}}
  </body>
<html>
