<html lang="en">
  <head>
    {{> head-content
      title='Reminder App - Archives'
    }}
    {{{ render_bundle 'archives-css' }}}
    <link rel="manifest" href="webapp-manifest.json">
  </head>
  <body>
    <header>Archives</header>
    {{> archives }}
  </body>
<html>
