<html lang="en">
  <head>
    {{> head-content
      title='Reminder App - Archives'
    }}
    {{{ render_bundle 'archives-css' }}}
    {{{ render_bundle 'vendor' }}}
    <link rel="manifest" href="webapp-manifest.json">
  </head>
  <body>
    <header>Archives</header>
    <main>
      {{> archives }}
    </main>

    {{{ render_bundle 'archives' 'async defer' }}}
  </body>
<html>
