<html lang="en">
  <head>
    {{> head-content
      title='Reminder App'
    }}
    {{{ render_bundle 'main-css' }}}
    {{{ render_bundle 'vendor' }}}
  </head>
  <body>
    <header>Reminder App</header>
    <main>
      {{> reminders}}

      <button id="add-reminder-btn">+</button>
      {{!-- Add reminder form --}}
      {{> add-reminder-form }}
    </main>

    {{{ render_bundle 'main' }}}
  </body>
<html>
