<html>
  <head>
    {{> head-content
      title='Reminder App'
    }}
    <link rel="stylesheet" href="static/css/reminder-app.css">
  </head>
  <body>
    <header>Reminder App</header>
    <main>
      {{> reminder-app-main-partial }}
    </main>
  </body>
<html>
