<html>
  {{> head
    title='Sample Handlebars page'
  }}
  <body>
    <ul>
      {{#each list}}
        <li>{{@key}}: {{this}}</li>
      {{/each}}
    </ul>
    {{#unless list}}
      <p>No data found</p>
    {{/unless}}
  </body>
<html>
