<html>
  <head>
    {{> head-content
      title='Reminder App'
    }}
    <link rel="stylesheet" href="static/css/reminder-app.css">
  </head>
  <body>
    Reminder App - reminder app in node.js
    ---

    Under devlopment reminder app.
    {{{render_bundle 'main' }}}
  </body>
<html>
