<html lang="en">
  <head>
    {{> head-content
      title='Reminder App'
    }}
    {{{ render_bundle 'main-css' }}}
  </head>
  <body>
    <header>Reminder App</header>
    <main>{{> reminder-app-main-partial }}</main>
    {{{ render_bundle 'main' }}}
  </body>
<html>
